<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User page</h1>
    <h3>Username is {{name}}</h3>
    <h3>Userage is {{age}}</h3>
    {{#each followers as  |f| }}
        <p>{{f}}</p>
    {{/each}}
    <h2>Posts</h2>
    {{#each posts as |p|}}
        <h2>{{p.id}}</h2>
        <h4>{{p.caption}}</h4>
        <img src="{{p.imageURL}}">
    {{/each}}
    
</body>
</html>